<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Band</mat-label>
            <input matInput [value]="band" [readonly]="false" (blur)="onBandChange($event)">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Album</mat-label>
            <input matInput [value]="album" [readonly]="false" (blur)="onAlbumChange($event)">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Song</mat-label>
            <input matInput [value]="song" [readonly]="false" (blur)="onSongChange($event)">
        </mat-form-field>
        <br>
        <mat-form-field class="fullWidth">
            <mat-label>File</mat-label>
            <input matInput [value]="file" [readonly]="true">
        </mat-form-field>
        <app-status-message [status]="status" [message]="status_message" *ngIf="status_message"></app-status-message>
    </mat-card-content>
</mat-card>