<mat-card>
    <mat-card-content>
        <app-metadata-container [file]="file"></app-metadata-container>
    </mat-card-content>
    <div class="padding">
        <app-file-picker (fileSelected)="onFileSelected($event)"></app-file-picker>
        <app-storage-connected-label prop="baseMusicDirectory"></app-storage-connected-label>
        <app-storage-connected-label [tooltipText]="'%A = Album, %B = Band, %S = Song'"
            prop="namingPattern"></app-storage-connected-label>
        <app-button [disabled]="renameFileDisabled()" [buttonText]="'Rename File'"
            (buttonClick)="renameFile()"></app-button>
        <br>
        <app-button [disabled]="findMissingTagsDisabled()" [buttonText]="'Find Missing Tags'"
            (buttonClick)="findMissingTag()"></app-button>
        <app-status-message [status]="status" [message]="status_message" *ngIf="status_message"></app-status-message>
    </div>
</mat-card>